<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @response.question_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @response.points %>
</p>

<p>
  <strong>User:</strong>
  <%= @response.user_id %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
